* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./kilu-800x445.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
